<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Course</title>
    <%- include('./partials/header.ejs') %>
</head>
<body>
    <h1>Add Course</h1>
    <div>
        <form action="/courses/edit/<%= courseData.id %>" method="post">
            <label for="">Course Name:</label><br>
            <input type="text" name="name" value="<%= courseData.name %>"><br><br>
            <label for="">Description:</label><br>
            <textarea name="description" id="" cols="21" rows="8"><%= courseData.description %></textarea><br><br>
            <label for="">Duration:</label><br>
            <input type="number" name="duration" value="<%= courseData.duration %>"><br><br>
            <label for="">Created by:</label><br>
            <select name="TeacherId" id="">
                <option value="<%= courseData.User.id %>"><%= courseData.User.userName %></option>
            </select><br><br>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>