<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses</title>
    <%- include('./partials/header.ejs') %>
</head>
<body>
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
        </style>
        </head>
        <body>
        
        <h2>Student Profile</h2>
        <table>
          <tr>
            <th>Name</th>
            <th>Grade</th>
            <th>Phone</th>
            <th>Address</th>
          </tr>
          <tr>
            <td><%= stdProfile.fullname1 %></td>
            <td><%= stdProfile.User.grade %></td>
            <td><%= stdProfile.phone %></td>
            <td><%= stdProfile.address %></td>
          </tr>
        </table>

        <h2>Course Enroll List</h2>
        <table>
          <tr>
            <th>No.</th>
            <th>Name</th>
            <th>Description</th>
            <th>Course Duration</th>
            <th>Action</th>
          </tr>

          <% stdCourse.forEach((e,idx) => { %>
            <tr>
                <td><%= ++idx %></td>
                <td><%= e.Course.name %></td>
                <td><%= e.Course.description %></td>
                <td><%= e.Course.duration %></td>
                <td>
                  <a href="/courses/enroll/delete/<%= e.Course.id %>">delete</a>
                  <a href="/courses/enroll/learn/<%= e.Course.id %>">learn</a>
                </td>
            </tr>
            <% }) %>
            
            
            
          </table>
</body>
</html>